<div class="card" style="width: 18rem">
    <img src="{{ 'https://ftp.quest.com.co/imagenes/'+producto.sku+'-1.jpg' }}" class="card-img-top" alt="..." />

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->


    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

    <div class="card-body">
      <h5 class="card-title">{{ index }} - {{ producto.nombre }}</h5>
      <!--<p class="card-text">{{ producto.descripcion }}</p>-->
      <a (click)="verProducto(producto._id)" class="btn btn-dark"
        >Informacion
      </a>
    </div>
  </div>

