<!--
<p>heroes works!</p>
-->
<!--
<ul class="list-group">
  <li *ngFor="let unHeroe of heroes; let i = index" class="list-group-item">
    <div class="card" style="width: 18rem;">
      <img src="{{unHeroe.img}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i +1 }} - {{unHeroe.nombre}}</h5>
        <p class="card-text">{{unHeroe.bio}}</p>
        <a (click)="verHeroe(i)" class="btn btn-primary">Ver Heroe</a>
      </div>
    </div>
  </li>
</ul>
-->

<div class="container text-center">
  <div class="row align-items-start">
    <div *ngFor="let unHeroe of heroes; let i = index" class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{unHeroe.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{i +1 }} - {{unHeroe.nombre}}</h5>
          <p class="card-text">{{unHeroe.bio}}</p>
          <a (click)="verHeroe(i)" class="btn btn-primary">Ver Heroe</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<ul class="list-group">
  <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
-->

<!--
<h1>Héroes <small>Marvel y DC</small></h1>
<hr>


<div class="card-columns">

  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="foo" [index]="i"  *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>


</div>
-->

<!-- *ngFor="let heroe of heroes; let i = index" -->
